{% block navbar %}
    <div class="ticket-links">
        <a href="/VehicleTicket" class="ticket-type">Ticket Véhicule</a>
        <a href="#" class="ticket-type">Ticket Informatique</a>
        <a href="/BuildingTicket" class="ticket-type">Ticket Bâtiment</a>
    </div>
{% endblock %}