body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/cir_0668.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.cnac {
    font-size: 72px; /* or whatever base size you prefer */
    margin-bottom: 50px; /* increase space below h1 */
    text-align: center; /* center text */
    color: white; /* make text white to stand out against background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add shadow for readability */
}
h1.h3.mb-3.font-weight-normal {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn.btn-lg.btn-primary {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #e6007d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition: background-color 0.2s;
    display: block;           /* Faire du bouton un élément de bloc pour qu'il puisse être centré */
    margin-left: auto;        /* Centrer le bouton à l'horizontale */
    margin-right: auto;
    padding-right: 20px; 
}

.btn.btn-lg.btn-primary:hover {
    background-color: #d40175; /* Une couleur légèrement plus foncée pour l'effet hover */
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.alert-danger {
    color: white;
    background-color: #e74c3c;
    border: 1px solid #c0392b;
}

/* Ajout d'un peu de style pour le conteneur principal */
body > form {
    margin: 20px auto;
    max-width: 400px;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: #e6007d; /* Faire du bouton un élément de bloc pour qu'il prenne toute la largeur */
}

.btn-secondary:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.header {
    position: absolute;
    top: 5%; /* Adjust this to move the header up or down */
    text-align: center;
    width: 100%;
}

.cnac {
    font-size: 72px; /* or whatever base size you prefer */
    color: #e6007d; /* make text white to stand out against background */
    
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}