body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/cir_0668.jpg");
    background-size: cover;
    font-family: 'DM Sans';
    font-size: 14px;

}


.container {
    width: 30%; /* Agrandir le conteneur principal */
    padding: 0px 30px 30px 30px;
     /* Ajouter plus d'espacement à l'intérieur du conteneur */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e6007d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.redirect-link {
    margin-top: 10px;
    text-align: center;
}

.redirect-link a {
    text-decoration: none;
    color: #e6007d;
}

.redirect-link a:hover {
    text-decoration: underline;
}

.field {
    margin-bottom: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.alert {
    font-size: 16px;
    align-self: center;
    color: red;
  }
  

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px; /* Augmenter le padding pour que les champs soient plus grands */
    font-size: 16px;
}

.form__container h1, .form__container h2 {
    font-size: 30px; /* Augmenter la taille des titres pour remplir plus d'espace */
    color: #e6007d;
    font-weight: bold;
    }

.form__header{
    display: flex;
    justify-content: center;
}

@media screen and (max-height: 900px) {
    body {
        font-size: 12px; /* Réduire la taille de la police */
    }

    .container {
        width: 30%; /* Ajuster la largeur du conteneur principal */
        padding: 5px 15px 10px 15px; /* Réduire l'espacement à l'intérieur du conteneur */
    }

    h2 {
        font-size: 20px; /* Réduire la taille du titre */
        margin-bottom: 10px; /* Réduire la marge inférieure */
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        padding: 8px; /* Réduire le rembourrage des champs de saisie */
        font-size: 14px; /* Réduire la taille de la police des champs de saisie */
    }

    button {
        padding: 8px; /* Réduire le rembourrage du bouton */
    }

    .alert {
        font-size: 14px; /* Réduire la taille de la police de l'alerte */
    }

    .form__container h1,
    .form__container h2 {
        font-size: 24px; /* Réduire la taille des titres du formulaire */
    }
}
